# Node modules
node_modules/

# Build outputs
.env
dist/
frontend/dist/
backend/target/
out-tsc/
bazel-out/
clean-repo/
tmp/

# Logs
npm-debug.log
yarn-error.log

# IDEs
.idea/
.vscode/
backend/target/
